<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="vertical-menu">
    <div data-simplebar class="h-100">

        <div class="navbar-brand-box">
            <a href="index.html" class="logo">
                <i class="mdi mdi-alpha-x-circle"></i>
                <span>
                    CarBook
                </span>
            </a>
        </div>

        <div id="sidebar-menu">
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title">Menü</li>

                <li>
                    <a href="/Admin/AdminDashboard/Index" class="waves-effect">
                        <i class="feather-airplay"></i><span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/AdminStatistics/Index" class="waves-effect">
                        <i class="fas fa-chart-pie"></i><span>İstatistikler</span>
                    </a>
                </li>
                <li>
                    <a href="/AdminCar/Index" class="waves-effect">
                        <i class="fas fa-car"></i><span>Araba İşlemleri</span>
                    </a>
                </li>
                <li>
                    <a href="/AdminFeature/Index" class="waves-effect">
                        <i class="fas fa-wrench"></i><span>Araba Özellikleri</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/AdminReservation/Index" class="waves-effect">
                        <i class="fas fa-ticket"></i><span>Rezervasyonlar</span>
                    </a>
                </li>
                <li>
                    <a href="/AdminBrand/Index" class="waves-effect">
                        <i class="fas fa-briefcase"></i><span>Markalar</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/AdminBanner/Index/" class="waves-effect">
                        <i class="fas fa-brush"></i><span>Banner Alanı</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/AdminAbout/Index/" class="waves-effect">
                        <i class="fas fa-address-card"></i><span>Hakkımızda</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/AdminAuthor/Index/" class="waves-effect">
                        <i class="fas fa-pen-square"></i><span>Yazar İşlemleri</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/AdminCategory/Index/" class="waves-effect">
                        <i class="fas fa-layer-group"></i><span>Blog Kategorileri</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/AdminBlog/Index/" class="waves-effect">
                        <i class="fas fa-blog"></i><span>Blog İşlemleri</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/AdminPricing/Index/" class="waves-effect">
                        <i class="fas fa-circle-dollar-to-slot"></i><span>Ödeme Türleri</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/AdminContact/Index/" class="waves-effect">
                        <i class="fas fa-phone"></i><span>İletişim</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/AdminFooterAddress/Index/" class="waves-effect">
                        <i class="fas fa-paper-plane"></i><span>Alt Adres</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/AdminLocation/Index/" class="waves-effect">
                        <i class="fas fa-map-pin"></i><span>Lokasyonlar</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/AdminService/Index/" class="waves-effect">
                        <i class="fas fa-bell"></i><span>Hizmetler</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/AdminSocialMedia/Index/" class="waves-effect">
                        <i class="fas fa-thumbs-up"></i><span>Sosyal Medya</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/AdminTestimonial/Index/" class="waves-effect">
                        <i class="fas fa-handshake"></i><span>Referanslar</span>
                    </a>
                </li>
                <li>
                    <a href="/AdminTagCloud/Index" class="waves-effect">
                        <i class="fas fa-hashtag"></i><span>Etiketler</span>
                    </a>
                </li>
                <li>
                    <a href="/AdminSettings/Index" class="waves-effect">
                        <i class="fas fa-gear"></i><span>Ayarlar</span>
                    </a>
                </li>
                <li>
                    <a href="/AdminLogout/Index" class="waves-effect">
                        <i class="fas fa-right-from-bracket"></i><span>Çıkış Yap</span>
                    </a>
                </li>




            </ul>
        </div>
    </div>
</div>