@model List<UdemyCarBook.Dto.TagCloudDtos.GetByBlogIdTagCloudDto>
<div class="sidebar-box ftco-animate">
    <h3>Etkiket Bulutu</h3>
    <div class="tagcloud">
        @foreach (var item in Model)
        {
            <a href="#" class="tag-cloud-link">@item.Title</a>
        }
    </div>
</div>