@model UpdateLocationDto

@{
    ViewData["Title"] = "UpdateLocation";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Lokasyon Güncelleme Sayfası</h4>
                        <p class="card-subtitle mb-4">
                            Lokasyon ile ilgili bilgileri eksiksiz doldurunuz.
                        </p>

                        <form method="post">
                            <div class="form-group">
                                <input type="hidden" asp-for="LocationID" />
                                <label for="exampleInputName">Lokasyon</label>
                                <input type="text" class="form-control" asp-for="Name" id="exampleInputName" placeholder="Lokasyon Giriniz">
                            </div>

                            <button type="submit" class="btn btn-success waves-effect waves-light">Güncelle</button>
                        </form>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>