@model List<ResultSocialMediaDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}


<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Sosyal Medya Hesapları</h4>
                        <p class="card-subtitle mb-4">
                            Sosyal Medya ile ilgili işlemleri buradan gerçekleştirebilirsiniz.
                        </p>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Adı</th>
                                        <th>Sosyal Medya Linki</th>
                                        <th>Sosyal Medya İconu</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        count++;
                                        <tr>
                                            <td>@count</td>
                                            <td>@item.Name</td>
                                            <td>@item.Url</td>
                                            <td>@item.Icon</td>
                                            <td><a href="/Admin/AdminSocialMedia/RemoveSocialMedia/@item.SocialMediaID" class="btn btn-danger">Sil</a></td>
                                            <td><a href="/Admin/AdminSocialMedia/UpdateSocialMedia/@item.SocialMediaID" class="btn btn-success">Güncelle</a></td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                            <a href="/Admin/AdminSocialMedia/CreateSocialMedia/" class="btn btn-primary">Yeni Sosyal Medya Hesabı Ekle</a>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
