@model UdemyCarBook.Dto.ReservationDtos.CreateReservationDto

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/Index.cshtml";
}

<div class="col-md-12 block-9 mb-md-5">
    
    <form method="post" class="bg-light p-5 contact-form">
        <div class="form-group">
            <input type="hidden" asp-for="CarID" value="@ViewBag.v3" class="form-control" placeholder="İstediğiniz Araç" >
        </div>
        <div class="form-group">
            <input type="text" asp-for="Name" class="form-control" placeholder="Adınız">
        </div>
        <div class="form-group">
            <input type="text" asp-for="Surname" class="form-control" placeholder="Soyadınız">
        </div>
        <div class="form-group">
            <input type="email" asp-for="Email" class="form-control" placeholder="Mail Adresiniz">
        </div>
        <div class="form-group">
            <input type="text" asp-for="Phone" class="form-control" placeholder="Telefon No">
        </div>
        <div class="form-group">
            <label>Nereden Teslim Alacaksınız?</label>
            @Html.DropDownListFor(x => x.PickUpLocationID, (List<SelectListItem>)ViewBag.v, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label>Nereye Teslim Edeceksiniz?</label>
            @Html.DropDownListFor(x => x.DropOffLocationID, (List<SelectListItem>)ViewBag.v, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <input type="text" class="form-control" asp-for="Age" placeholder="Yaşınız">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" asp-for="DriverLicenseYear" placeholder="Ehliyet Yılınız">
        </div>
        <div class="form-group">
            <textarea cols="30" rows="7" class="form-control" asp-for="Description" placeholder="Varsa Eklemek İstedikleriniz"></textarea>
        </div>
        <div class="form-group">
            <input type="submit" value="Rezervasyon Yap" class="btn btn-primary py-3 px-5">
        </div>
    </form>

</div>

