@model CreateBrandDto
@{
    ViewData["Title"] = "CreateBrand";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Yeni Marka Ekleme</h4>
                        <p class="card-subtitle mb-4">
                            Marka ile ilgili bilgileri eksiksiz doldurunuz.
                        </p>

                        <form method="post">
                            <div class="form-group">
                                <label for="exampleInputName">Marka Adı</label>
                                <input type="text" class="form-control" asp-for="name" id="exampleInputName" placeholder="Marka Giriniz">
                            </div>

                            <button type="submit" class="btn btn-primary waves-effect waves-light">Kaydet</button>
                        </form>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>




