@model UpdateFooterAddressDto

@{
    ViewData["Title"] = "UpdateFooterAddress";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Footer Adres Güncelleme Sayfası</h4>
                        <p class="card-subtitle mb-4">
                            Anasayfa FooterAddress alanıyla ilgili bilgileri eksiksiz doldurunuz.
                        </p>

                        <form method="post">
                            <div class="form-group">
                                <input type="hidden" asp-for="FooterAddressID" />
                                <label for="exampleInputName">Adres</label>
                                <input type="text" class="form-control" asp-for="Address" id="exampleInputName" placeholder="Adres Giriniz">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputDescription">Açıklama</label>
                                <input type="text" class="form-control" asp-for="Description" id="exampleInputDescription" placeholder="Açıklama Giriniz">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputVideoUrl">Email</label>
                                <input type="email" class="form-control" asp-for="Email" id="exampleInputVideoUrl" placeholder="Email Giriniz">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputVideoDescription">Telefon</label>
                                <input type="text" class="form-control" asp-for="Phone" id="exampleInputVideoUrl" placeholder="Telefon No Giriniz">
                            </div>

                            <button type="submit" class="btn btn-success waves-effect waves-light">Güncelle</button>
                        </form>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>







